services:
  mongodb:
    image: mongo:8.2
    
    container_name: mongodb
    
    ports:
      - "27010:27017"
    
    volumes:
      - "./mongodb:/data/db"
    
    networks:
      - backend
    
    restart: always


networks:
  backend:

