APP_NAME="legal-rag-chatbot"
APP_VERSION="0.1"

# file
FILE_VALIDE_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10 # 10MB
MAX_CHUNK_SIZE=512000 # 512KB

# MongoDB connection URL
# Create a connection to the MongoDB server at the specified URL
# Replace <username>, <password>, and <host> if needed.
# Example for local dev: mongodb://localhost:27017/
MONGODB_URL="your_mongodb_connection_url_here"

# MongoDB database name your app will use
# Select the specific database inside the MongoDB server
# Example: legal-rag-chatbot
MONGODB_DATABASE="your_database_name_here"

# llm  
GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="COHERE"

OPENAI_API_KEY=""
OPENAI_API_URL=
COHERE_API_KEY=""

GENERATION_MODEL_ID="command-r7b-12-2024"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384

INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1


# vector db
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"


# default system propmt language
PRIMARY_LANGUAGE="en"
DEFAULT_LANGUAGE="en"
