APP_NAME="legal-rag-chatbot"
APP_VERSION="0.1"

# file
FILE_VALIDE_TYPES=["text/plain", "application/pdf", "application/x-ndjson"]
FILE_MAX_SIZE=3 # 3MB
MAX_CHUNK_SIZE=512000 # 512KB

# MongoDB connection URL
# Create a connection to the MongoDB server at the specified URL
# Replace <username>, <password>, and <host> if needed.
# Example for local dev: mongodb://localhost:27017/
MONGODB_URL="your_mongodb_connection_url_here"

# MongoDB database name your app will use
# Select the specific database inside the MongoDB server
# Example: legal-rag-chatbot
MONGODB_DATABASE="your_database_name_here"

# llm  
GENERATION_BACKEND="OPENAI" # openai compatible api
EMBEDDING_BACKEND="OPENAI" # openai compatible api

OPENAI_API_KEY="openai_api_key_here"

# to use a custom OpenAI-compatible API endpoint, set it here e.g. ollama models
OPENAI_API_URL="http://localhost:11434/v1/"

COHERE_API_KEY=""

GENERATION_MODEL_ID="command-r7b-12-2024"

EMBEDDING_MODEL_ID="embeddinggemma:300m-bf16"
EMBEDDING_MODEL_SIZE=768

INPUT_DAFAULT_MAX_CHARACTERS=40000
GENERATION_DAFAULT_MAX_TOKENS=2048
GENERATION_DAFAULT_TEMPERATURE=0.5

# vector db
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"


# default system propmt language
PRIMARY_LANGUAGE="en"
DEFAULT_LANGUAGE="en"

# system reserved collections
VECTOR_DB_COLLECTION_PREFIX="collection_"
SYSTEM_RESERVED_PROJECT_IDS=["1", "2", "3", "4", "5"]
SYSTEM_ALLOW_RESERVED_WRITES=True

# chat memory
CHAT_HISTORY_MAX_MESSAGES=5
CHAT_HISTORY_MAX_CHARS=4000
CHAT_CONTEXT_MAX_CHARS=20000
